    <header class="h-12 bg-black dark:bg-blue-700 w-full fixed p-0 mt-0 z-50">
      <p class="font-bold font-sans site-logo mt-3 ml-2"><a href="/" class="text-white hover:text-gray-300 border-transparent hover:border-transparent">Site name goes here</a></span></p>
      <input type="checkbox" id="nav-toggle" class="nav-toggle" aria-hidden="true" />
      <label for="nav-toggle" class="nav__icon" aria-hidden="true">
      Expand the menu
          <span class="nav__icon-line"></span>
          <span class="nav__icon-line"></span>
          <span class="nav__icon-line"></span>
      </label>
      <nav role="navigation" class="nav">
        <ul class="nav__items">
          <li class="nav__item">
            <a href="/about" title="About">About</a>
          </li>
          <li class="nav__item">
            <a href="/posts" title="Posts">Posts</a>
          </li>
        </ul>
      </nav>
    </header>
