---
title: 404 - Page not found
layout: base
permalink: 404.html
eleventyExcludeFromCollections: true
#Comes into play only on Netlify -- see https://www.11ty.dev/docs/quicktips/not-found/
---

  <main>
    <div class="font-sans text-center pt-12 lg:pt-20">
      <h1 class="text-3xl lg:text-6xl 2xl:text-8xl">Page not found</h1>
      <p class="mt-6 lg:mt-8 2xl:mt-12 text-2xl lg:text-4xl 2xl:text-5xl">Sorry, that page isn&rsquo;t on this site.</p>
      <p class="mt-4 mb-72 lg:mt-6 2xl:mt-8">Please use the navigation menu, above, to find another&nbsp;page.</p>
    </div>
  </main>